<div
  class="wrapper d-flex flex-column align-items-center gap-3 flex-lg-row justify-content-lg-center gap-lg-2"
  style="
    min-height: calc(100vh - 250px);
    background-color: rgba(128, 128, 128, 0.185);
  "
>
  <div class="container-one my-5 d-flex flex-column align-items-center">
    <img class="my-5" src="../../assets/logo.svg" alt="picture of the logo" />
    <h1 class="fw-bold">The Best Way For Your Learning</h1>
    <div class="paragraph border-start border-5 border-warning my-4">
      <p class="ms-2 my-auto">
        there are many courses for different subjects with good price. Learn
        from home.
      </p>
    </div>
    <div class="explore d-flex gap-3">
      <button class="btn btn-sm btn-dark rounded-3 py-3 px-3 fs-6">
        <a class="text-decoration-none text-white" routerLink="course-list"
          >Explore Courses&nbsp;&nbsp;&nbsp;&rarr;</a
        >
      </button>
    </div>
  </div>
  <div class="container-two">
    <img
      src="../../assets/picture2.png"
      class="home-image"
      alt="picture that express education"
    />
  </div>
</div>
<section>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">
            Add some information about the album below, the author, or any other
            background context. Make it a few sentences long so folks can pick
            up some informative tidbits. Then, link them off to some social
            networking sites or contact information.
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <main>
    <section class="py-5 text-center">
      <div
        class="row py-lg-5 text-white"
        style="
          background-color: lightslategrey;
          background-image: linear-gradient(
            90deg,
            rgba(56, 56, 56, 0.719),
            rgba(49, 39, 39, 0.687)
          );
          font-weight: 500;
        "
      >
        <div class="col-md-6 col-lg-8 mx-auto">
          <h1 class="">Are You Instructor?</h1>
          <p class="lead">
            Becoming an instructor on
            <span class="color-purple">TEMENE</span> is an incredible
            opportunity to share your knowledge and expertise with a global
            community of learners, while also earning money and establishing
            yourself as an expert in your field. So if you're looking for a
            rewarding and fulfilling way to share your knowledge and make a
            difference in the world, becoming an
            <span class="color-purple">TEMENE</span> instructor could be the
            perfect next step for you.
          </p>
          <a
            routerLink="Instructor/createcourse"
            class="instructor-btn fs-5 fw-bolder px-5 py-3"
            id=""
            >Become An Instructor</a
          >
        </div>
      </div>
    </section>
    <section>
      <div Id="bigcontainer">
        <div class="containerslider">
          <input type="radio" name="dot" id="one" />
          <input type="radio" name="dot" id="two" />
          <div class="main-cardslider">
            <div class="cardsslider">
              <div class="cardslider">
                <div class="contentslider">
                  <div class="img">
                    <img src="../../assets/javascript.jpg" alt="" />
                  </div>
                  <div class="details">
                    <div class="name">JavaScript</div>
                    <div class="job">100 birr</div>
                  </div>
                  <div class="buttonslider">
                    <a routerLink="coursedetail/63f7475d8f27e8f629d88cea"
                      ><button>enroll</button></a
                    >
                  </div>
                </div>
              </div>
              <div class="cardslider">
                <div class="contentslider">
                  <div class="img">
                    <img src="../../assets/css.jpg" alt="" />
                  </div>
                  <div class="details">
                    <div class="name">CSS3</div>
                    <div class="job">80 birr</div>
                  </div>
                  <div class="buttonslider">
                    <a routerLink="coursedetail/63f748ce8f27e8f629d88d03"
                      ><button>enroll</button></a
                    >
                  </div>
                </div>
              </div>
              <div class="cardslider">
                <div class="contentslider">
                  <div class="img">
                    <img src="../../assets/nestjs.jpg" alt="" />
                  </div>
                  <div class="details">
                    <div class="name">Nestjs</div>
                    <div class="job">100 birr</div>
                  </div>
                  <div class="buttonslider">
                    <a routerLink="coursedetail/63f74458085dea86b69dbb81"
                      ><button>enroll</button></a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="cardsslider">
              <div class="cardslider">
                <div class="contentslider">
                  <div class="img">
                    <img src="../../assets/angular.jpg" alt="" />
                  </div>
                  <div class="details">
                    <div class="name">Angular</div>
                    <div class="job">150 birr</div>
                  </div>
                  <div class="buttonslider">
                    <a routerLink="coursedetail/63f746be8f27e8f629d88cd8"
                      ><button>enroll</button></a
                    >
                  </div>
                </div>
              </div>
              <div class="cardslider">
                <div class="contentslider">
                  <div class="img">
                    <img src="../../assets/react.jpg" alt="" />
                  </div>
                  <div class="details">
                    <div class="name">React</div>
                    <div class="job">150 birr</div>
                  </div>
                  <div class="buttonslider">
                    <a routerLink="coursedetail/63f747158f27e8f629d88ce1"
                      ><button>enroll</button></a
                    >
                  </div>
                </div>
              </div>
              <div class="cardslider">
                <div class="contentslider">
                  <div class="img">
                    <img src="../../assets/expressjs.jpg" alt="" />
                  </div>
                  <div class="details">
                    <div class="name">ExpressJs</div>
                    <div class="job">90 birr</div>
                  </div>
                  <div class="buttonslider">
                    <a routerLink="coursedetail/63f744d6085dea86b69dbb8f"
                      ><button>enroll</button></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="button01">
            <label for="one" class="active one"></label>
            <label for="two" class="two"></label>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h1 class="text-center features">Featured Courses</h1>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="../../assets/css.jpg"
                  style="width: 100%; height: 305px; object-fit: cover"
                  alt=""
                />

                <div class="card-body">
                  <p class="card-text fw-bold">
                    CSS3: Make your web pages look cool with Dani
                  </p>
                  <p>Price: 80 birr</p>
                  <p>Level: Beginner</p>
                </div>
                <a
                  routerLink="coursedetail/63f748ce8f27e8f629d88d03"
                  class="button text-center"
                  >View</a
                >
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="../../assets/angular.jpg"
                  style="width: 100%; height: 305px; object-fit: cover"
                  alt=""
                />
                <div class="card-body">
                  <p class="card-text fw-bold">
                    Angular: The comprehensive guide
                  </p>
                  <p>Price: 150 birr</p>
                  <p>Level: Intermidate</p>
                </div>
                <a
                  routerLink="coursedetail/63f746be8f27e8f629d88cd8"
                  class="button text-center"
                  >View</a
                >
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="../../assets/nestjs.jpg"
                  style="width: 100%; height: 305px; object-fit: cover"
                  alt=""
                />
                <div class="card-body">
                  <p class="card-text fw-bold">
                    Nestjs: Complete course from beginner to expert
                  </p>
                  <p>Price: 100 birr</p>
                  <p>Level: Intermidate</p>
                </div>
                <a
                  routerLink="coursedetail/63f74458085dea86b69dbb81"
                  class="button text-center"
                  >View</a
                >
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="../../assets/react.jpg"
                  style="width: 100%; height: 305px; object-fit: cover"
                  alt=""
                />
                <div class="card-body">
                  <p class="card-text fw-bold">
                    React: The comprehensive guide
                  </p>
                  <p>Price: 150 birr</p>
                  <p>Level: Intermidate</p>
                </div>
                <a
                  routerLink="coursedetail/63f747158f27e8f629d88ce1"
                  class="button text-center"
                  >View</a
                >
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="../../assets/javascript.jpg"
                  style="width: 100%; height: 305px; object-fit: cover"
                  alt=""
                />
                <div class="card-body">
                  <p class="card-text fw-bold">
                    JavaScript: Beginner to Expert
                  </p>
                  <p>Price: 100 birr</p>
                  <p>Level: Beginner</p>
                </div>
                <a
                  routerLink="coursedetail/63f7475d8f27e8f629d88cea"
                  class="button text-center"
                  >View</a
                >
              </div>
            </div>

            <div class="col">
              <div class="card shadow-sm">
                <img
                  src="../../assets/tailwind.jpg"
                  style="width: 100%; height: 305px; object-fit: cover"
                  alt=""
                />
                <div class="card-body">
                  <p class="card-text fw-bold">
                    Tailwind: Efficiently design with tailwind
                  </p>
                  <p>Price: 70 birr</p>
                  <p>Level: Beginner</p>
                </div>
                <a
                  routerLink="coursedetail/63f7462b8f27e8f629d88cc6"
                  class="button text-center"
                  >View</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</section>

<router-outlet></router-outlet>
