* {
  font-family: Nunito;
}
.inputs {
  display: grid;
  place-items: center;
  padding: 3%;
}

input {
  background-color: white;
  color: black;
  border: 2px solid gainsboro;
  border-radius: 15px;
}
.contain {
  width: 70%;
  margin-inline: auto;
  /* border: 2px solid purple; */
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
}
.lead {
  color: grey;
}
.label-text {
  font-size: 1em;
}
.user_image {
  width: 300px;
  height: 300px;
}
.button {
  margin-top: 30px;
}
.photo {
  margin-top: 20px;
}
.profile {
  /* margin-top: -40px; */
  display: grid;
  place-items: center;
  gap: 2rem;
}
.error {
  color: red;
}
.error1 {
  position: absolute;
  top: 40px;
  left: 0;
  /* right: 200px; */
}
button {
  margin-top: 10px;
  margin-bottom: 7px;
  cursor: pointer;
  position: relative;
  padding: 11px 16px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: black;
  border: 0;
  color: white;
  overflow: hidden;
}
button:hover {
  box-shadow: 0px, 0px, 10px rgba(0, 0, 0, 0.15);
}
button input[type="file"] {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transform: scale(3);
  opacity: 0;
  border: 0;
}
.submit {
  /* height: 40px; */
  /* width: 200px; */
  /* margin-inline: auto; */
  margin-top: 30px;
  align-items: center;
  cursor: pointer;
  color: black;
  /* padding-inline: 60px; */
  padding: 0.75em 3em;
  border: 2px solid purple;
  transition: background-color, border-radius 300ms ease;
}
.submit:hover {
  border-radius: 5px;
  background-color: purple;
  color: #fff;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
}
