<div  style="background: linear-gradient(rgba(50, 69, 61, 0.8), rgba(42, 55, 52, 0.8)), url(./assets/workers.jpg);  opacity: 0.8;" class="py-5 mb-5 page-holder bg-cover">

  <div class="container py-5">
    <h2 class=" text-white pt-5 ">
         

    </h2>
    <h1 class="pb-5 lead text-white display-4" style="font-weight: 1000;">
        ABOUT COMPANY
    </h1>

   
  </div>
</div>


<section class="section1 mt-5"> 
  <div class="container-fluid">
  <div class="row mt-auto px-5">
    
      <div class="col-xl-6 col-lg-6 col-md-6 gap-3 mt-5 px-5 pt-5 d-flex flex-column align-items-center " style="border:1px solid #ddd">
        <h4 class="text-left " style="font-weight:lighter;">Who we are</h4>
          <h5 class="container px-5" style="font-weight: 700;  line-height: 3rem;">
            Improving lives through Learning. We are always Inspired by the world and people us. Celebrating e-Learning excellence in Personal.
 
          </h5>
      </div>
      <h3 class=" col-xl-6 col-lg-6 col-md-6 px-5 text-white  pt-5 mt-5 ps-5" style=" background-color: rgb(137, 77, 159); border:1px solid #ddd; line-height: 3rem;">
        We are here to meet your demand and teach the most beneficial way for you in Personal.
      </h3>
      
  </div>
  </div>
</section>





<div class="bg-light my-5">
    <div class="container py-5">
      <div class="d-flex gap-5 h-100 align-items-center">
        <div class="w-50">
           
            
          <h2 class="display-5 my-3 ">We provide...</h2>
          <ul class="list-group w-50">
            <li class="list-group-item"> <img style="width:30px; height:30px;" class="mr-3 img-fluid" src="./assets/resource.png" alt="">Free online courses</li>
            <li class="list-group-item"> <img style="width:30px; height:30px;" class="mr-3 img-fluid" src="./assets/free.png" alt="">Free resources</li>
            <li class="list-group-item"> <img style="width:30px; height:30px;" class="mr-3 img-fluid" src="./assets/instructor.png" alt="">Best instructors </li>
            <li class="list-group-item"> <img style="width:30px; height:30px;" class="mr-3 img-fluid" src="./assets/skill.png" alt=""> Multi dimenshional skills</li>
            <li class="list-group-item"> <img style="width:30px; height:30px;" class="mr-3 img-fluid" src="./assets/certificate.png" alt=""> Certificates</li>
        
          </ul>
        
         
        </div>
        <div class= "w-50 rounded shadow-1-strong border "><img src="./assets/fegeg.jpg" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>



<div class="px-5 mx-3 py-5 my-5">
  <h2 style="text-align:center">Our Team</h2>
  <div class="row gap-3">
    <div class="column">
      <div class="card">
        <img src="./assets/abebe.jpg" alt="Jane" style="width:100%">
        <div class="container p-5 ">
          <h2>Michael Gashaw</h2>
          <p class="title">CEO & Founder</p>
          <p>Software engineer</p>
          <p>mike@temene.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/bewilu.jpg" alt="Mike" style="width:100%">
        <div class="container p-5">
          <h2>Leul Abay</h2>
          <p class="title">Frontend Developer</p>
          <p>Angular Frontend Developer.</p>
          <p>leul@temene.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="./assets/abdissa.jpg" alt="John" style="width:100%">
        <div class="container p-5">
          <h2>Daniel Misganaw</h2>
          <p class="title">Backend Developer</p>
          <p>Express Backend Developer</p>
          <p>dani@temene.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>

  <section>
    <div class="px-5 py-4 my-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4">Testimonials</h3>
        
      </div>
    </div>
  
    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Dawit Muluneh</h5>
        <h6 class="text-primary mb-3">Web Developer</h6>
        <p class="px-xl-3">
          <i class="fas pe-2"></i>In the last three years, the most I have enjoyed about the distance learning is its flexibility and convenience. 
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star-half-alt fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Wossen Zelalem</h5>
        <h6 class="text-primary mb-3">Graphic Designer</h6>
        <p class="px-xl-3">
          <i class="fas pe-2"></i>In the last three years, the most I have enjoyed about the distance learning is its flexibility and convenience. 
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Yohannes Ahunm</h5>
        <h6 class="text-primary mb-3">Marketing Specialist</h6>
        <p class="px-xl-3">
          <i class="fas  pe-2"></i>In the last three years, the most I have enjoyed about the distance learning is its flexibility and convenience. 
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="far fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </section>
  